@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'Android', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    font-family: var(--fonte-destaque);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding-top: 40px;
    border: 0px;
    text-align: center;
    color: white;
}
.cabesalho {
    text-align: center;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.459);
}

.cabesalho2 {
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.377);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 14px 5px 6px rgba(0, 0, 0, 0.459);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    background-color: whitesmoke;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    margin: auto;
    margin-bottom: 0px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img {
    width: 100%;
}

#tituloprincipal{
    font-size: 30px;
    font-family: var(--fonte-android);
    color: var(--cor5);
    text-indent: 8px;
    padding-top: 20px;
    font-weight: normal;
}

.titulofoda {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.8em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main p {
    text-align: justify;
    text-indent: 30px;
    margin: 15px 0px;
    font-size: 1em;
    display: inline-block;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
   
   aside{
    background-color: var(--cor1);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #0000004f;
   }

    aside > article > ul {
        list-style-type: '\2714\00A0\00A0';
        list-style-position: inside;
        columns: 2;
    }

   aside > h1 {
    color: white;
    background-color: var(--cor4);
    margin: -10px -10px 0px -10px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
   }

   
   footer {
    text-align: center;
    background-color: var(--cor5);
    color: white;
    font-size: 0.8em;
    padding: 5px;
   }

   footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
   }

   footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
   }

   #bugdroid {
    max-width: 350px;
    display: block;
    margin: auto;
   }

   .ibagens {
    display: block;
    text-align: auto;
   }